<template>
  <div v-show="!loggedIn">
    <WelcomeComponent msg="Welcome to Your Vue.js App" @check-login="checkLogIn"/>
  </div>
  <div v-show="loggedIn">
    <ChatComponent />
  </div>
</template>

<script>
// @ is an alias to /src
import WelcomeComponent from '@/components/WelcomeComponent.vue'
import ChatComponent from "@/components/ChatComponent";
export default {
  name: 'HomeView',
  components: {
    WelcomeComponent,
    ChatComponent,
  },

  mounted() {
    this.checkLogIn();
  },
  data() {
    return {
      loggedIn: false,
    }
  },
  methods: {
    checkLogIn(){
      console.log(this.$store.getters.user.name)
      const user = this.$store.getters.user;
      if(user.name){
        this.loggedIn  = true;
        console.log(this.loggedIn);
      }else {
        this.loggedIn = false;
      }
    }
  },
}
</script>

