<template>
  <div class="container">
    <input type="text" id="fmessage" name="message" placeholder="Message" v-on:keyup.enter="onEnter" v-model="message">
  </div>
</template>

<script>

export default {
  name: 'ChatFooterComponent',
  data() {
    return {
      message: "",
    }
  },
  methods: {
    onEnter() {
      this.$emit("send-message", this.message);
      this.message = "";
    }
  }
}


</script>

<style scoped>

.container {
  width: 70%;
  position: absolute;
  bottom: 10px;
}

#fmessage{
  width: 80%;
  height: 50px;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  color: #ff4c29;
}


</style>