<template>
  <div class="chat-container">
      <ButtonComponent v-show="!connected" btn-text="connect" @btn-click="connect"/>
      <span class="dot" :class="[connected ? 'connected': 'disconnected']" ></span>
    <div id="message-container">
        <div v-for="(message,index) in messages" v-bind:key="index">
          <MessageComponent :message-data=message v-bind:client-is-sender="message.sender == this.$store.getters.user.name"/>
        </div>
    </div>
  </div>

  <div class="footer">
      <chat-footer-component @send-message="send"  />
    </div>
</template>

<script>
import MessageComponent from "@/components/MessageComponent";
import ButtonComponent from "@/components/ButtonComponent";
import ChatFooterComponent from "@/components/ChatFooterComponent";

import { getTextMessages } from "@/services/messageService";
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";

export default {
  name: 'ChatComponent',
  components: {MessageComponent, ButtonComponent, ChatFooterComponent},
  data() {
    return {
      messages: null,
      send_message: "kewk",
      connected: false,
      height: "600px",
    }
  },
  methods: {
    setHeight(){
      var initHeight = ((window.screen.height-50)/10) * 7.5;
      this.height=(initHeight) + "px";

    },
    getPreviousChatEntries() {
      getTextMessages().then((messages) => {
        this.messages = messages;
      })
    },
    connect() {
      this.socket = new SockJS("/gs-guide-websocket");
      this.stompClient = Stomp.over(this.socket);
      this.stompClient.connect(
          {},
          // eslint-disable-next-line no-unused-vars
          frame => {
            this.connected = true;
            this.stompClient.subscribe("/topic/text-messages", tick => {
              console.log("TICK:");
              console.log(JSON.parse(tick.body));
                this.messages.push(JSON.parse(tick.body));
              setTimeout(() => {
                var objDiv = document.getElementById('message-container');
                objDiv.scrollTop = objDiv.scrollHeight
              }, 0)

            });
          },
          error => {
            console.log(error);
            this.connected = false;
          }
      );
    },
    disconnect() {
      if (this.stompClient) {
        this.stompClient.disconnect();
      }
      this.connected = false;
    },
    send(message) {
      if (this.stompClient && this.stompClient.connected) {
        const msg = { message: message,  sender: this.$store.getters.user.name};
        this.stompClient.send("/app/send-message", JSON.stringify(msg), {});
      }
    },
  },
  mounted() {
    this.getPreviousChatEntries();
    this.connect();
    this.setHeight();
  },
}
</script>

<style scoped>

#message-container{
  margin-top: 5px;
  height: v-bind(height);
  width: 100%;
  overflow: auto;
  position: relative;
  margin-left: 5em;
}

.footer {
  margin: 10% 10% 10% 0%;
  float: right;
  width: 70%;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5em;
  float: right;
}

.connected{
  background-color: #48ff00;
}

.disconnected{
  background-color: red;
}
</style>