<template>
  <div class="header-container">
    <Button @click="login">LOG IN</Button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import user from "@/store/modules/user";

export default {
  name: 'HeaderComponent',
  methods:{
    login(){
        console.log(user.state.user.name);
    }
  },
  computed: mapGetters(user)
}
</script>

<style scoped>

.header-container {
  margin-right: 20%;
  margin-bottom: 10%;
}

.button-div {
  float: right;
}
</style>