<template>
  <div class="container">
    <div  :class="[clientIsSender? 'userIsSenderMessage': 'userIsReceiverMessage']">
      <span :class="[clientIsSender ? 'isSender' : 'isReceiver']" style="color: #082032;" >{{messageData.sender}}</span>
      <p>{{messageData.message}}</p>
      <span :class="[clientIsSender? 'time-right': 'time-left']" >{{readableTime}}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'MessageComponent',
  props: {
    messageData: {
        type: Object,
      },
    clientIsSender: {
      type: Boolean
    }
  },data() {
    return {
      readableTime: ""
    }
  },mounted() {
    this.transformTimestampToReadable();
  },
  methods: {
    transformTimestampToReadable(){
      let localDateTime = this.messageData.localDateTime;
      const timeArray = localDateTime.split("T")[1].split(".");
      this.readableTime = timeArray[0].substring(0,5);
    }
  }
}
</script>

<style scoped>

.container{
  color: #334756;
  font-weight: 800

}

.isSender {
  float: right
}

.isReceiver{
  float: left;
}

.userIsSenderMessage {
  border: 2px solid #dedede;
  background-color: #ff4c29;
  border-radius: 5px;
  width: 60%;
  float: right;
  margin-top: 20px;

}

.userIsReceiverMessage {
  border: 2px solid #dedede;
  border-radius: 5px;
  width: 60%;
  float: left;
  margin-top: 20px;
  background-color: #ffa594;

}

.userIsSenderMessage::after {
  content: "";
  clear: both;
  display: table;
}

.userIsReceiverMessage::after {
  content: "";
  clear: both;
  display: table;
}


.time-right {
  float: right;
  color: #334756;
  padding-right: 5px;

}

.time-left {
  float: left;
  color: #334756;
  padding-left: 5px;

}

</style>

