<template>
  <div class="container">
    <h1>Welcome to my Chat App</h1>
    <h2>Please enter your name:</h2>
    <input type="text" id="fusername" name="username" placeholder="Name" v-on:keyup.enter="onEnter" v-model="username">

  </div>
</template>

<script>

export default {
  name: 'WelcomeComponent',
  methods: {
    onEnter(){
      this.$store.commit('addUser',{
        name: this.username
      })
      this.$emit("check-login");
    }
  },
  props: {
    msg: String
  },data() {
    return {
      username: "",
    }
  },

}
</script>

<style scoped>

.container{
  color: #ff4c29;
}

#fusername{
  margin-top: 10%;
  width: 40%;
  height: 50px;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  color: #ff4c29;
}



</style>


